@model List<DeptModel>

<h2>Department Information</h2>

@if (Model != null && Model.Count > 0)
{
    <table border="1">
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeptId</td>
                <td>@item.DeptName</td>
            </tr>
        }
    </table>
}
else
{
    <p>No department data found.</p>
}
