<h2 style="text-align:center">Select Department and Class</h2>

<form asp-action="DisplayTimetable" asp-asp-controller="Home" method="post">
    <div class="row mb-3 mt-3">
        <div class="col-md-6 col-sm-4">
            <div class="form-floating">
                <select class="form-select" name="Department" aria-required="true" id="departmentSelect" onchange="updateClassOptions()">
                    <option value="" disabled selected>Select Department</option>
                    @foreach (var dept in Model)
                    {
                        <option value="@dept.DeptId">@dept.DeptName</option>
                    }
                </select>
                <label>Select Department</label>
            </div>
        </div>

        <div class="col-md-6 col-sm-4">
            <div class="form-floating">
                <select class="form-select" name="Class" aria-required="true" id="classSelect">
                    <option value="" disabled selected>Select Class</option>
                </select>
                <label>Select Class</label>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary px-4">Submit</button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deptSelect = document.getElementById("departmentSelect");
        const yearSelect = document.getElementById("classSelect");
        deptSelect.addEventListener("change", function () {
            const deptId = this.value;
            yearSelect.innerHTML = '<option value="" disabled selected>Loading...</option>';
            fetch(`/Home/GetClassesByDeptId?deptId=${deptId}`)
                .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        yearSelect.innerHTML = `<option value="" disabled selected>Select Year</option>`;

                        data.forEach(year => {
                            let option = document.createElement("option");
                            option.value = year.classId;
                            option.textContent = year.className;
                            yearSelect.appendChild(option);
                });
            })
                .catch(error => console.error("Error fetching years:", error));
        });

    });
</script>
